fastapi[all] 
uvicorn 
pydantic 
python-dotenv 
passlib[bcrypt] 
python-jose[cryptography] 
PyJWT
cryptography
numpy 
pandas 
requests
bcrypt
pymongo
datetime
redis[hiredis]
jwt
python-jose
psycopg[binary]
psycopg2
langchain
langchain_google_genai
langchain_huggingface
langgraph
openpyxl
python-multipart